@use '../variables' as *;

.Footer {
    height: 86px;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    position: sticky;
    background: linear-gradient(45deg, $dark_black_color, $light_black_color);
    border-radius: 12px;
    bottom: 16px;
    left: 0;
    display: grid;
    grid-template-columns: 3fr 7fr 3fr;
    column-gap: 20px;
    padding: 0 20px;
    color: white;
    z-index: 3;
}

.Description {
    text-align: start;
    display: flex;
}

.Author {
    font-size: 14px;
    color: rgb(184, 184, 184);
}

.Controls {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 10px;
    margin: 10px 0;
}

.Player {
    width: 100%;
}

.Button {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white!important;
    background-color: unset!important;
    &:hover {
        transition: background-color 0.3s linear!important;
        background-color: $primary_dark_color!important;
        color: white!important;
        cursor: pointer;
    }
}
.Skip {
    @extend .Button;

    border: unset!important;
    border-radius: 50%!important;
    &:hover {
        background-color: unset!important;
        color: rgb(190, 190, 190)!important;
    }
}

.Play {
    @extend .Button;

    border: 1px solid white!important;
    border-radius: 50%!important;
    &:hover {
        border-color: gray!important;
        background-color: gray!important;
    }
}

.Slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 24px;
}

.InputSlider {
    -webkit-appearance: none;
    position: relative;
    min-width: 150px;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: white;
    }
    &:hover {
        &::-webkit-slider-thumb {
            height: 12px;
            width: 12px;
        }
    }
}

.Actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.VolumeSlider {
    -webkit-appearance: none;
    max-width: 150px;
    min-width: 100px;
    border-radius: 9999px;
    height: 4px;
    position: relative;
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: white;
    }
    &:hover {
        &::-webkit-slider-thumb {
            height: 10px;
            width: 10px;
        }
    }
}

.OtherControl {
    @extend .Skip;
}

.OtherControlIcon {
    height: 20px!important;
    width: 20px!important;
}

.SelectedControlIcon {
    @extend .OtherControlIcon;
    color: $primary_color;
}