@use '../variables' as *;

.Header {
    display: flex;
    background-color: transparent;
    height: 80px;
    color: $light_black_color;
}

.Logo {
    margin: auto 0 auto 20px;
    &:hover {
        cursor: pointer;
    }
}

.UserButton {
    border-radius: 9999px!important;
    padding: 0 0 0 10px!important;
    border-right: 0!important;
    display: flex;
    gap: 15px;
}

.Navigation {
    margin: auto 30px auto auto;
    height: max-content;
    display: flex;
    align-items: center;
    gap: 20px;
}

.Welcome {
    margin: auto;
    font-size: 22px;
}

.UserName {
    color: $primary_color;
    font-weight: bold;
}

.Route {
    display: flex;
    align-items: center;
    height: max-content;
    padding: 10px 5px;
}

.Icon {
    color: $icon_color;
    cursor: pointer;
}

.HomeIcon {
    @extend .Icon;

    width: 20px!important;
    height: 20px!important;
}

.ProfilePicture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    object-fit: cover;
    cursor: pointer;
}

.AccountIcon {
    @extend .Icon;

    width: 40px!important;
    height: 40px!important;
}

@media (max-width: $mobile_threshold) {
    .Welcome {
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    .Welcome {
        font-size: 12px;
    }
}