@use '../variables' as *;

.Wrapper {
    display: flex;
    background-color: $background_color;
    gap: 10px;
}

.Content {
    min-height: 100vh;
    width: 100%;
    background-color: $background_color;
    padding: 16px;
}

.PageContent {
    min-height: calc(100% - 80px - 86px);
}