@use '../variables' as *;

.SidebarWrapper {
    border-right: 1px solid $table_color;
    height: 100%;
}

.Sidebar {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 16px;
    bottom: 16px;
    height: calc(100vh - 32px);
    min-width: 270px;
    gap: 10px;
    font-size: 19px;
    margin-left: 16px;
    padding: 24px 16px;
    border-radius: 12px;
    background: linear-gradient(195deg, $light_black_color, $dark_black_color);
    transition: transform 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

.Logo {
    width: 180px;
    height: 70px;
    margin: 0 auto;
}

.Burger {
    cursor: pointer;
    display: none;
    position: absolute;
    left: 15px;
}

.CloseIcon {
    position: absolute;
    color: white;
    cursor: pointer;
    right: 15px;
    top: 15px;
}

@media (max-width: $mobile_threshold) {
    .Sidebar {
        transform: translateX(-300px);
        position: absolute;
        z-index: 2;
    }

    .Sidebar.MobileSidebar {
        transform: translateX(0);
    }
}