@use '../variables' as *;

.Wrapper {
  position: relative;
}

.Picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.ProfilePicture {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.PlaceholderIcon {
  width: 100px!important;
  height: 100px!important;
  color: $icon_color;
}

.AddButton {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 24px;
  height: 24px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%!important;
  padding: 1px!important;
  border: none!important;
  background-color: $light_black_color!important;
  color: white!important;
  box-shadow: rgb(0 0 0 / 10%) 0rem 0.25rem 0.375rem -0.09rem, rgb(0 0 0 / 6%) 0rem 0.125rem 0.25rem -0.09rem;
  cursor: pointer;

  &:hover {
    background-color: $dark_black_color!important;
    .AddIcon {
      color: rgb(220, 220, 220);
    }
  }
}

.AddIcon {
  width: 16px!important;
  height: 16px!important;
  transition: all linear 0.2s;
}