@use '../variables' as *;

.Wrapper {
  position: relative;
  margin-bottom: 30px;
  padding-top: 20px;
}

.MainWrapper {
  width: 100%;
  padding: 0 20px 20px;
  border-radius: 1rem;
  box-shadow: rgb(0 0 0 / 10%) 0rem 0.25rem 0.375rem -0.0625rem, rgb(0 0 0 / 6%) 0rem 0.125rem 0.25rem -0.0625rem;
  background-color: white;
}

.PictureWrapper {
  position: absolute;
  left: 16px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header {
  display: flex;
  justify-content: space-between;
}

.Actions {
  padding: 20px 15px;
}

.DeleteButton {
  background-color: white!important;
  color: $error_color!important;
  border-color: $error_color!important;

  &:hover {
    background-color: $error_color!important;
    color: white!important;
  }
}

.User {
  display: flex;
  gap: 2%;
  align-items: center;
}

.Name {
  font-weight: bold;
  font-size: 34px;
  color: $light_black_color;
  padding-left: 120px;
}

.Sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 30px;
}

.Section:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid;
  border-image: linear-gradient(to bottom, transparent, gray, transparent) 1 100%;
}

.SectionTitle {
  font-size: 19px;
  color: $light_black_color;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.Icon {
  color: $icon_color;
  width: 20px!important;
  height: 20px!important;
  cursor: pointer;
}

.ConfirmWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  width: 100%;
}