@use '../variables' as *;

.Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 40px;
}

.Text {
  font-size: 19px;
}

.Highlight {
  font-weight: bold;
  color: $primary_color;
}

.Buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
  width: 100%;
  button {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.DeleteButton {
  background-color: white!important;
  color: $error_color!important;
  border-color: $error_color!important;

  &:hover {
    background-color: $error_color!important;
    color: white!important;
  }
}