@use '../variables' as *;

.Icon {
  border-radius: 50%!important;
  border: 1px solid $icon_color;
  color: $icon_color;
  cursor: pointer;
  width: 28px!important;
  height: 28px!important;

  &:hover {
    transition: all linear 0.2s;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
