@use '../variables' as *;

.Actions {
  display: flex;
  gap: 30px;
}

.RequestActions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.Icon {
  cursor: pointer;
  border-radius: 50%;
  width: 28px!important;
  height: 28px!important;

  &:hover {
    transition: all linear 0.2s;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.ApproveIcon {
  @extend .Icon;

  color: rgb(9, 136, 9);
}

.RejectIcon {
  @extend .Icon;

  color: $error_color;
}