@use '../variables' as *;

.Wrapper {
  display: flex;
  justify-content: center;
  gap: 15px;
  height: max-content;
  margin: auto 0;
}

.PictureWrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.SongPicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.PicturePlaceholder {
  border: 1px solid $primary_color;
  border-radius: 50%;
  color: $primary_color;
  padding: 10px!important;
  width: 50px!important;
  height: 50px!important;
}

.SongTitle {
  font-weight: bold;
  font-size: 16px;
  color: $dark_black_color;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.FooterSongTitle {
  @extend .SongTitle;

  width: 150px;
  color: white;
}

.SongAuthor {
  font-size: 14px;
  color: $light_black_color;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    text-decoration: underline;
  }
}

.FooterSongAuthor {
  @extend .SongAuthor;

  width: 150px;
  color: rgb(184, 184, 184);
}

.Playing {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}