@use '../variables' as *;

.Confirmed {
  padding: 4px 8px 3px;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-self: center;
  background: linear-gradient(180deg, rgb(102, 187, 106), rgb(67, 160, 71));
  height: max-content;
  font-size: 10px;
  font-weight: bold;
  color: white;
}

.Pending {
  @extend .Confirmed;

  background: linear-gradient(180deg,rgb(73, 163, 241), rgb(26, 115, 232));
}

.Rejected {
  @extend .Confirmed;

  background: linear-gradient(180deg, rgb(239, 83, 80), rgb(229, 57, 53));
}