@use '../variables' as *;

.Icon {
    cursor: pointer;
    width: 28px!important;
    height: 28px!important;
    border-radius: 50%;
  
    &:hover {
      transition: all linear 0.2s;
      background-color: rgba(0, 0, 0, 0.1);
    }
}

.AddToPlaylistButton {
    @extend .Icon;
    padding: 2px 1px 2px 2px;
}

.Actions {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;

    > div {
        height: 28px;
    }
}