@use '../variables' as *;

.SongLink {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 20px 0 5px;

    &:hover {
        transform: unset;
    }
}

.SongDetails {
    width: 600px;
    margin-top: 20px;
}

.SongDetailsRow {
    font-size: 19px;
    color: $primary_font_light_color;
    display: flex;
    flex-direction: column!important;
    gap: 10px;
}

.SongDetailsRowValues {
    @extend .SongDetailsRow;

    color: $primary_light_color;
    font-weight: bold;
}

.PlaySongButton {
    margin-left: 10px;
}