@use '../variables' as *;

.Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.PlayingWrapper {
  @extend .Wrapper;
  font-size: 16px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}