@use '../variables' as *;

.Wrapper {
  position: relative;
  height: 100%;
  padding-top: 20px;
  font-size: 16px;
}

.Title {
  position: absolute;
  top: 0;
  left: 20px;
  color: white;
  background: linear-gradient(195deg, $primary_color, $primary_dark_color);
  padding: 16px;
  width: 20vw;
  min-width: max-content;
  border-radius: 0.5rem;
  text-align: start;
  font-weight: bold;
}

.ViewAll {
  position: absolute;
  top: 35px;
  right: 35px;
  color: $primary_color;
  font-weight: bold;
  font-size: 14px;
}

.Table {
  padding-top: 60px;
  padding-bottom: 40px;
  border-radius: 1rem;
  background-color: white;
  color: $light_black_color;
  box-shadow: rgb(0 0 0 / 10%) 0rem 0.25rem 0.375rem -0.0625rem, rgb(0 0 0 / 6%) 0rem 0.125rem 0.25rem -0.0625rem;
}

.Row {
  padding: 10px 24px;
}

.DataRow {
  @extend .Row;
  
  &:hover {
    transition: all linear 0.2s;
    background-color: rgb(230, 230, 230);
  }
}

.SelectedDataRow {
  @extend .DataRow;

  background-color: rgb(221, 221, 221);
}

.Header {
  @extend .Row;

  color: $hint_color;
  font-size: 12px;
}