$primary_color: #ffaf37;
$primary_light_color: #FFBC80;
$primary_dark_color: #fb8c00;

$primary_font_color: rgb(103, 83, 52);
$primary_font_light_color: #ebebeb;
$hint_color: rgb(123, 128, 154);

$dark_black_color: #191919;
$light_black_color: #42424a;

$icon_color: rgb(100, 100, 100);

$background_color: #F0F2F5;
$background_hover_color: rgba(0,0,0,0.1);
$background_overlay_color: rgba(40, 40, 40, 0.8);
$table_color: #5c5c5c;

$success_color: #02b30e;
$error_color: #d11313;

$mobile_threshold: 1100px;