@use 'variables' as *;

.Content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}

.Overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $background_overlay_color;
    z-index: 1;
}

.Wrapper {
    padding: 20px 40px;
    border-radius: 8px;
    background: linear-gradient(195deg, rgb(255, 255, 255), rgb(240, 240, 240));
    min-width: 400px;
    min-height: 300px;
}

.CloseButton {
    position: absolute;
    top: 5px;
    right: 10px;
    border-color: $primary_color;
    padding: 0;
    background-color: unset;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-radius: 6px;

    &:hover {
        background-color: $primary_color;
        .CloseIcon {
            color: white;
        }
    }
}

.CloseIcon {
    color: $light_black_color;
}

@media (max-width: 500px) {
    .BasicModalContent {
        width: 100%;
        padding: 0 20px;
    }

    .BasicModalWrapper {
        min-width: 100%;
    }

    .BasicModalCloseButton {
        right: 30px;
    }
}