@use './variables' as *;

.SectionTitle {
  font-size: 19px;
  color: $light_black_color;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.Icon {
  color: $icon_color;
  width: 20px!important;
  height: 20px!important;
  cursor: pointer;
}

.ConfirmWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  width: 100%;
}