@use 'variables' as *;

a {
    text-decoration: none;
    color: unset;

    &:hover {
        font-weight: bold;
        text-decoration: underline;
    }
}

.PageWrapper {
    padding: 0 10px 20px;
    text-align: start;
}

.PageTitle {
    font-size: 34px;
    font-weight: bold;
    color: $light_black_color;
    margin-bottom: 10px;
}

.PageSubtitle {
    font-size: 22px;
    font-weight: bold;
    color:$primary_font_color;
}

.PageTableWrapper {
    padding-top: 20px;
}

.Row {
    padding: 12px 15px 10px;
    color: #E0E0E0;

    &:not(:last-child) {
        border-bottom: 1px solid #ADADAD;
    }

    &:hover {
        background-color: $background_hover_color;
        transition: all 0.2s linear;
        cursor: pointer;
    }
}

button {
    border: 1px solid $light_black_color!important;
    border-radius: 8px!important;
    color: $light_black_color!important;
    background-color: unset!important;
    transition: all 0.2s linear!important;
    &:hover {
        background-color: $light_black_color!important;
        color: white!important;
    }
    &:disabled {
        opacity: 0.3;
    }
}

input:disabled {
    opacity: 0.4;
}

.GridTable {
    text-align: left;
    margin: 0 auto 0;
    width: 80%;
    background-color: $table_color;
    border-radius: 12px;
    overflow-wrap: break-word;
}

.GridTableHeader {
    padding: 15px 15px 12px;
    border-bottom: 1px solid #ADADAD;
    font-size: 19px;
    color: $primary_light_color;
}

.ModalTitle {
    font-size: 24px;
    color: $primary_light_color;
}

.CreateForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}

.NumberColumn {
    text-align: center;
}

.EmptyPage {
    font-size: 24px;
    margin-top: 20px;
}

.Toastify__close-button {
    border: none!important;
}