@use './variables' as *;

.LikeIcon {
  color: $icon_color;
  border-radius: 50%!important;
  border: none!important;
  padding: 2px;
  cursor: pointer;
  width: 28px!important;
  height: 28px!important;

  &:hover {
    transition: all linear 0.2s;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.LikedIcon {
  @extend .LikeIcon;

  color: $primary_color;
}