@use './variables' as *;

.Wrapper {
  position: relative;
  margin-bottom: 30px;
  padding-top: 20px;
}

.MainWrapper {
  width: 100%;
  padding: 0 20px 10px;
  border-radius: 1rem;
  box-shadow: rgb(0 0 0 / 10%) 0rem 0.25rem 0.375rem -0.0625rem, rgb(0 0 0 / 6%) 0rem 0.125rem 0.25rem -0.0625rem;
  background-color: white;
}

.IconWrapper {
  position: absolute;
  left: 16px;
  top: 0;
  border-radius: 1rem;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(195deg, $light_black_color, $dark_black_color);
}

.Icon {
  width: 45px !important;
  height: 45px !important;
  color: $primary_color;
}

.Title {
  font-weight: bold;
  font-size: 34px;
  color: $light_black_color;
  padding-left: 100px;
}

.Hint {
  color: $hint_color;
  font-size: 14px;
  margin-top: 20px;
}