@use '../variables' as *;

.PlaylistWrapper {
    text-align: start;
}

.Wrapper {
    background-color: white;
    padding: 10px 20px;
    border-radius: 1rem;
    box-shadow: rgb(0 0 0 / 10%) 0rem 0.25rem 0.375rem -0.0625rem, rgb(0 0 0 / 6%) 0rem 0.125rem 0.25rem -0.0625rem;
    margin-bottom: 20px;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.DeleteButton {
    background-color: white!important;
    color: $error_color!important;
    border-color: $error_color!important;
  
    &:hover {
      background-color: $error_color!important;
      color: white!important;
    }
}

.Title {
    display: flex;
    align-items: center;
    gap: 30px;
}

.Author {
    display: flex;
    align-items: center;
    gap: 5px;
}

.PlaylistCreatedBy {
    display: flex;
    align-items: center;
    gap: 10px;
    text-shadow: none;
    font-weight: normal;
    color: $hint_color;
}

.CreatedByPicture {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
}

.Description {
    color: $hint_color;
    margin-top: 20px;
    width: 40%;
}