@use '../variables' as *;

.PlaylistRow {
    padding: 12px 15px 10px;
    color: #E0E0E0;

    &:not(:last-child) {
        border-bottom: 1px solid #ADADAD;
    }

    &:hover {
        background-color: $background_hover_color;
        cursor: pointer;
        transition: all 0.3s linear;
    }
}