@use '../variables' as *;

.Actions {
    display: flex;
    gap: 5px;
}

.Icon {
    cursor: pointer;
    width: 28px!important;
    height: 28px!important;
    border-radius: 50%;
  
    &:hover {
      transition: all linear 0.2s;
      background-color: rgba(0, 0, 0, 0.1);
    }
}